.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
