.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action {
  border: 1px outset rgb(133, 133, 133);
  padding: 1px 6px;
}
